<div class="container mt-4">
  <h2 class="mb-4 text-center">Recetas Uniandes</h2>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let recipe of recipes">
      <div class="card h-100" (click)="goToDetail(recipe.id)" style="cursor: pointer;">
        <img [src]="recipe.imagen" class="card-img-top" [alt]="recipe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.nombre }}</h5>
          <ul>
            <li *ngFor="let etiqueta of recipe.etiquetas">
              {{ etiqueta }}
            </li>
          </ul>
          <p class="card-text"><strong>Numero de Porciones: </strong>{{ recipe.porciones }}</p>
          <p><strong># Ingredientes:</strong> {{ countIngredients(recipe) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
