<div>
  <div class="bg-white p-4">
    <h2 class="text-center mb-4">{{ recipe?.nombre }}</h2>

    <div class="row">
      <div class="col-md-5 text-center">
        <img [src]="recipe?.imagen" [alt]="recipe?.nombre" class="img-fluid" />
      </div>

      <div class="col-md-7">
        <div class="row mb-3">
          <div class="col"><strong>Porciones:</strong> {{ recipe?.porciones }}</div>
          <div class="col"><strong>Tiempo:</strong> {{ recipe?.tiempo_minutos }} min</div>
        </div>
        <div class="row mb-3">
          <div class="col"><strong>Dificultad:</strong> {{ recipe?.dificultad }}</div>
          <div class="col"><strong>Tipo:</strong> {{ recipe?.tipo }}</div>
        </div>

        <hr />

        <h5><strong>Ingredientes</strong></h5>
        <ul>
          <li *ngFor="let i of recipe?.ingredientes">
            {{ i.nombre }} - {{ i.cantidad }} {{ i.unidad }}
          </li>
        </ul>

        <hr />

        <h5><strong>Pasos</strong></h5>
        <ol>
          <li *ngFor="let paso of recipe?.pasos">{{ paso }}</li>
        </ol>
      </div>
    </div>

    <div class="text-start mt-4">
      <button class="btn btn-primary" routerLink="/recipes">Regresar</button>
    </div>
  </div>
</div>
